.ProjectsContainer {
  //This is required to contain single project which has position absolute
  position: relative;
  .ProjectsDraggableContainer {
    width: 100%;
    border: 1px solid green;
    min-height: 200px;

  }
}